@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2b8cee;
  --background-light: #f6f7f8;
  --background-dark: #101922;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #2b8cee;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
